<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <%# 管理者ログイン %>
      <p class="text-center mt-5">
        <%= link_to(new_admin_session_path, class: 'btn btn-danger btn-block', data: {turbolinks: false}) do %>
          <%= I18n.t("admin.sign_in") %>
        <% end %>
      </p>
    </div>
  </div>
</div>
