<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <p class="text-center mt-5">
        <%= link_to(new_admin_session_path, class: 'btn btn-danger btn-block') do %>
          管理者ログイン
        <% end %>
      </p>
    </div>
  </div>
</div>
