$font-size-base: 0.8rem;
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'easymde';


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

footer {
  margin-top: auto;
}
