$font-size-base: 0.8rem;
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'easymde';


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  font-family: "HiraginoSans-W0", "Hiragino Sans", "ヒラギノ角ゴシック";
  font-weight: 100;
}

footer {
  margin-top: auto;
}

#flash_box {
  width: 100%;
  height: 20px;
}

$jstree_anchor_negative: 20px;
.jstree-anchor {
  width: calc(100% - #{$jstree_anchor_negative});
}
