<% if params[:favorite] %>
  $("#note").html("<h2>いいね一覧</h2><%= j(render 'notes_ajax', notes: @notes_ajax) %>");
<% else %>
  $("#note").html("<h2>投稿一覧</h2><%= j(render 'notes_ajax', notes: @notes_ajax) %>");
<% end %>
$("#edit").empty()
$("#destroy").empty()
