$("#note").html("<%= j(render 'note', {note: @note, note_comment: @note_comment}) %>");
$("#edit").html("<h2>投稿詳細</h2>");
$("#destroy").html("<%= j(link_to '投稿削除', admin_note_path(@note.id), class: "btn btn-danger", method: :delete, remote: true, data: {"turbolinks" => false}) %>");
