<div class="container my-5">
  <div class="row my-5">
    <div class="mx-auto col-lg-6 text-center my-5">
      
      <h2>本当に退会しますか？</h2>
      
      <div class="text-center mt-5">
        <%= link_to "退会しない", settings_profile_users_path, class: "btn btn-info w-50" %>
      </div>
      
      <div class="text-center mt-5">
        <%= link_to "退会する", withdraw_users_path, method: :patch, class: "btn btn-danger w-50" %>
      </div>
    </div>
  </div>
</div>
