$("#comments").html("<%= j(render 'layouts/note_comments', note_comments: @note_comments_pagination) %>");
if (document.getElementById("comment_post_flg") == null){$("#comments").append("<div id='comment_post_flg'></div>");}
var element = document.querySelector("#comments > table > tbody > tr:first-child");
element.style.backgroundColor = "#d4edda";
$("#notice").html("<h5 class='m-0'>コメント投稿が成功しました。</h5>");
$("#note_comment_comment").val("");
