$("#error").html("<%= j(render 'layouts/errors', obj: @note_comment) %>");
if (document.getElementById("comment_post_flg") == null){$("#comments").append("<div id='comment_post_flg'></div>");}
$("#notice").empty();
