<div style="padding-top: 60px;"></div>
<div class="bg-dark p-1">
  <div class="container">
    <div class="row">
      <h5 class="mx-auto text-white">
        &copy 2022-<%= Date.today.year %>&ensp;>&nbsp;Term
      </h5>
    </div>
  </div>
</div>
